@import './constants.css';

* {
  padding: 0;
  margin: 0;
}

/* general */

body {
  background-color: var(--primary);
}

.body-bg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

/* divider */

@keyframes divider-fade-in {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 15%;
    opacity: 0.5;
  }
}

.divider {
  background-color: var(--text-color);
  width: 0%;
  height: 1px;
  animation: divider-fade-in ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} 

/* blink effect */

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor-effect::after {
  content: "ii";
  background-color: var(--text-color);
  height: 100%;
  width: 10px;
  animation: cursor-blink 1.5s infinite;
}

/* click effect */

@keyframes animate-click {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5em;
  }
  100% {
    opacity: 0;
    width: 10em;
    height: 10em;
    margin: -5em;
    border-width: 0.01em;
  }
}

div.click-effect {
  position: fixed;
  box-sizing: border-box;
  border-color: var(--text-color);
  border-style: solid;
  border-radius: 50%;
  animation: animate-click 0.3s ease-out;
}

/* main */

main {
  display: flex;
  background-color: var(--secondary);
  width: 99%;
  height: 97%;
  opacity: 0.95;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 60%;
}

@keyframes divider-fade-in-2 {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 80%;
    opacity: 1;
  }
}

.main-divider {
  background-color: var(--text-color);
  width: 1px;
  animation: divider-fade-in-2 ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* content */

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.about-container {
  display: none;
  opacity: 0;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  transition: opacity, 0.2s;
}

/* navigation */

.nav-container {
  display: flex;
  gap: 3%;
  flex-direction: column;
  width: 50%;
  flex-grow: 1;
}

.nav-selector {
  font-size: 20px;
  font-weight: 200;
  opacity: 0.5;
  transition-duration: 0.1s;
}

.nav-selector:hover {
  font-size: 25px;
  font-weight: 400;
  opacity: 1;
  cursor: pointer;
}

